/* footer*/ 

.footer-content {
    grid-template-columns: 2fr 3fr;
    display: grid;
    height: 80%;
}

.footer-quadrant-1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: flex-end;
}

.footer-quadrant-2 {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    width: 100%;
    align-content: space-around;
    padding-right: 59px;
}

.footer-column-1 {
    margin: 3px;
    width: 375px;
}

.footer-column-2 {
    margin: 3px;
}

.footer-column-3 {
    margin: 3px;
}

.footer-list {
    list-style: none;
    padding: 0;
    line-height: 25px;
    font-size: 15px;
    margin-top: 7px;
    color: B6B6B6;
}

.footer-list-split-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

hr {
    margin: 0;
    color: #979797;
}

.footer-column-title {
    margin-top: 49px;
    margin-bottom: 7px;
    color: B6B6B6;
}

.footer-free-trial {
    padding: 15px;
    margin: auto;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    color: FFFFFF;
    border: 2px solid #979797;;
    border-radius: 5px;
} 

/* menu */


.menu {
    grid-area: main;
    width: 166px;
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 0px;
    float: left;
    background: #724EEF;
    padding-left: 25px;
    padding-right: 59px;
}

.main-menu-items {
    list-style: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.main-menu-item {
    padding: 13.5px;
    padding-left: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

a:hover {
    text-shadow: 0 0 2px #faf8f8;
    cursor: pointer;
}


.login {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 13.5px;
    font-size: 13px;
    font-weight: lighter;
}