<footer class="footer" alt="footer">
    <div class="footer-content">
        <div class="footer-quadrant-1">
            <button class="footer-free-trial">FREE TRIAL</button>
            <p class="copyright">Datadog C 2017</p>
        </div>
        <div class="footer-quadrant-2">
            <div class="footer-column-1">
                <h4 class="footer-column-title">Product</h4>
                <hr>
                <div class="footer-list-split-column">
                    <ul class="footer-list">
                        <li>Features</li>
                        <li>APM</li>
                        <li>Integrations</li>
                        <li>Alerts</li>
                        <li>API</li>
                        <li>Pricing</li>
                    </ul>
                    <ul class="footer-list">
                        <li>Documentation</li>
                        <li>Support</li>
                        <li>Resources</li>
                        <li>Security</li>
                    </ul>
                </div>
            </div>
            <div class="footer-column-2">
                <h4 class="footer-column-title" >About</h4>
                <hr>
                <ul class="footer-list">
                    <li>Contact Us</li>
                    <li>Partners</li>
                    <li>Press</li>
                    <li>Our Team</li>
                    <li>Careers</li>
                    <li>Legal</li>
                </ul>
            </div>
            <div class="footer-column-3">
                <h4 class="footer-column-title" >Social</h4>
                <hr>
                <ul class="footer-list">
                    <li>Blog</li>
                    <li>Español</li>
                    <li>Japanese</li>
                    <li>Twitter</li>
                </ul>
            </div>
        </div>
    </div>
        <div class="terms-privacy-cookies-div">
            <a class="terms-privacy-cookies-links" href=#>Terms </a>
            <a class="terms-privacy-cookies-links" href=#> | Privacy | </a>
            <a class="terms-privacy-cookies-links" href=#> Cookies</a>
        </div>
    </footer>