<div class="menu">
    <div class="logo"><img src="/images/datadog-logo-v.png/"></div>
    <p class="mobile-login">LOGIN</p>
        <ul class="main-menu-items">
            <li class="main-menu-item" ><a>Product</a></li>
            <li class="main-menu-item" ><a>Docs</a></li> {{/* 29px shared bottom padding in mock up */}}
            <li class="main-menu-item" ><a>Pricing</a></li> {{/* 25px shared bottom padding in mock up*/}}
            <li class="main-menu-item" ><a>Customers</a></li>
            <li class="main-menu-item" ><a>About</a></li>
            <li class="main-menu-item" ><a>Blog</a></li>
        </ul>
        <p class="login">Login</p>
</div>