<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="mobile-menu">
    <div class="mobile-logo"><img class= "active" src="/images/datadog-logo-v.png/"></div>

  <div class="mobile-main-menu-items">
    <a class="mobile-main-menu-item" >Product</a>
    <a class="mobile-main-menu-item" >Docs</a> 
    <a class="mobile-main-menu-item" >Pricing</a> 
    <a class="mobile-main-menu-item" >Customers</a>
    <a class="mobile-main-menu-item" >About</a>
    <a class="mobile-main-menu-item" >Blog</a>
  </div>
  <p class="mobile-login">Login</p>

  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>