<footer class="mobile-footer" alt="mobile-footer">
    <div class="mobile-footer-content">
            <div class="mobile-footer-column-1">
                <h4 class="mobile-footer-column-title">Product</h4>
                <hr>
                <div class="mobile-footer-list-split-column">
                    <ul class="mobile-footer-list">
                        <li>Features</li>
                        <li>APM</li>
                        <li>Integrations</li>
                        <li>Alerts</li>
                        <li>API</li>
                        <li>Pricing</li>
                    </ul>
                    <ul class="mobile-footer-list">
                        <li>Documentation</li>
                        <li>Support</li>
                        <li>Resources</li>
                        <li>Security</li>
                    </ul>
                </div>
            </div>
            <div class="mobile-footer-column-2">
                <h4 class="mobile-footer-column-title" >About</h4>
                <hr>
                <ul class="mobile-footer-list">
                    <li>Contact Us</li>
                    <li>Partners</li>
                    <li>Press</li>
                    <li>Our Team</li>
                    <li>Careers</li>
                    <li>Legal</li>
                </ul>
            </div>
            <div class="mobile-footer-column-3">
                <h4 class="mobile-footer-column-title">Social</h4>
                <hr>
                <ul class="mobile-footer-list">
                    <li>Blog</li>
                    <li>Español</li>
                    <li>Japanese</li>
                    <li>Twitter</li>
                </ul>
            </div>
    </div>
        <p class="copyright">Datadog C 2017</p>
        <div class="terms-privacy-cookies-div">
            <a class="terms-privacy-cookies-links" href=#>Terms </a>
            <a class="terms-privacy-cookies-links" href=#> | Privacy | </a>
            <a class="terms-privacy-cookies-links" href=#> Cookies</a>
        </div>
    </footer>