<div class="main-pricing">
    <div class="plan-price-col" id="left-col" >
        <h6 class="plan-title" id="infra-color" >INFRASTRUCTURE</h6>
        <p>Starting at</p>
        <h1>$15</h1>
        <p>Per host, per month*</p>
        <p>Centralize your monitoring of systems and services</p>
        <ul class="pricing-list-plan-description">
            <li class="pricing-list-plan-description-item">250+ integrations </li>
            <li class="pricing-list-plan-description-item">Out-of-the-box dashboards </li>                              
            <li class="pricing-list-plan-description-item">15-month metric retention </li>
        </ul>
        <p class="see-details-text" id="infra-color">See Details</p>
    </div>
    <div class="plan-price-col" >
        <h6 class="plan-title" id="apm-color">APM</h6>
        <p>Starting at</p>
        <h1>$31</h1>
        <p>Per host, per month*</p>
        <p>Centralize your monitoring of systems and services</p>
        <ul class="pricing-list-plan-description">
            <li class="pricing-list-plan-description-item">Java, Ruby, Python, Go, Node, and more</li>
            <li class="pricing-list-plan-description-item">Out-of-the-box application health dashboards</li>
            <li class="pricing-list-plan-description-item">1 million trace events per host included</li>  
        </ul>
        <p class="see-details-text" id="apm-color">See Details</p>
    </div>
    <div class="plan-price-col" id="right-col" >
        <h6 class="plan-title" id="logs-color">LOGS MANAGEMENT</h6>
        <p>Starting at</p>
        <h1>$1.27</h1>
        <p>Per host, per month*</p>
        <p>Analyze and explore log data in context</p>
        <ul class="pricing-list-plan-description">
            <li class="pricing-list-plan-description-item">Collect from any source </li>
            <li class="pricing-list-plan-description-item">Automated & custom processing </li>
            <li class="pricing-list-plan-description-item">Fully integrated with Infrastructure and APM </li>  
        </ul>
        <p class="see-details-text" id="logs-color">See Details</p>
    </div>
</div>