<html lang="en">

    {{ partial "header.html" . }}

    <body>
        <main>
            {{ partial "menu.html" . }}     
            <div class="main-content">
                <div class="main-top-row-content">
                    <div class="main-text">
                        <div class="main-text-description">
                            <h1>Modern monitoring & analytics</h1>
                            <h3 class="main-text-sub-description">See inside any app or stack, at any scale, anywhere.</h3>
                        </div>
                        <button class="main-free-trial">Try Free</button>
                    </div>
                    {{ partial  "pricing.html" . }}                
                </div>  
                <div class="main-columns">
                    <div class="image-overlay-container">
                        <img src="images/apm-bg.png" class="grid-item" alt="screenshot of datadog product APM"/> 
                        <div class="overlay-image-text">
                                <h6 class="plan-title"> APM </h6>
                                <h3>Get full visibility into modern applications</h3>
                        </div>
                    </div>
                    <div class="image-overlay-container">
                        <img src="images/logs-bg.png" class="grid-item" alt="screenshot of datadog product logs management"/>
                        <div class="overlay-image-text">
                            <h6 class="plan-title"> LOGS MANAGEMENT</h6>
                            <h3>Analyze and explore log data in context</h3>
                        </div>
                    </div>
                    <div class="image-overlay-container">
                            <img src="images/infra-bg.png" class="grid-item" alt="screenshot of datadog product infrastructure"/> 
                            <div class="overlay-image-text">
                                <h6 class="plan-title"> INFRASTRUCTURE</h6>
                                <h3>See accross systems, apps, and services</h3>
                            </div>
                    </div>
                    <div class="grid-item" id="text-content">
                        <div class="carousel-text-box">
                            <div class="carousel-text-block">
                                    <h6 class="plan-title" id="infra-color" alt="observability">OBSERVABILITY</h6>
                                    <p>With turn-key integrations, Datadog seamlessly aggregates metrics and events across the full devops stack</p>        
                                    <p class="see-details-text" id="infra-color">Read More</p>
                            </div>
                            <div id="carousel-view" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-440" src="images/home-observability-screen.png" alt="home observability screenshot">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-440" src="images/kubernetes-screen.png" alt="kubernetes screenshot">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="images/customers.png" class="grid-item" id="close-gap-item" ></img>
                </div>
            </div>
        </main>
        {{ partial "footer.html" . }}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>