@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }

body {
    margin: 0;
    display: grid;
    grid-template-areas:
    'main'
    'footer';
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

main {
    display: flex;
}


.menu {
    grid-area: main;
    width: 166px;
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 0px;
    float: left;
    background: #724EEF;
    padding-left: 25px;
    padding-right: 59px;
}

.main-menu-items {
    list-style: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.main-menu-item {
    padding: 13.5px;
    padding-left: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

a:hover {
    text-shadow: 0 0 2px #faf8f8;
    cursor: pointer;
}


.login {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 13.5px;
    font-size: 13px;
    font-weight: lighter;
}


footer {
    background: linear-gradient(180deg, #443E48 0%, #110617 100%);
    justify-content: center;
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;
    display: inline-block;
    height: 300px;
    grid-area: footer;
}

.footer-content {
    grid-template-columns: 2fr 3fr;
    display: grid;
    height: 80%;
}

.footer-quadrant-1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: flex-end;
}

.footer-quadrant-2 {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    width: 100%;
    align-content: space-around;
    padding-right: 59px;
}

.footer-column-1 {
    margin: 3px;
    width: 375px;
}

.footer-column-2 {
    margin: 3px;
}

.footer-column-3 {
    margin: 3px;
}

.footer-list {
    list-style: none;
    padding: 0;
    line-height: 25px;
    font-size: 15px;
    margin-top: 7px;
    color: B6B6B6;
}

.footer-list-split-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

hr {
    margin: 0;
    color: #979797;
}

.footer-column-title {
    margin-top: 49px;
    margin-bottom: 7px;
    color: B6B6B6;
}

.footer-free-trial {
    padding: 15px;
    margin: auto;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    color: FFFFFF;
    border: 2px solid #979797;;
    border-radius: 5px;
} 

.terms-privacy-cookies-div {
    align-content: center;
    align-items: flex-end;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 12px;
    grid-area: 'bottom';
}

.terms-privacy-cookies-links {
    align-content: center;
    align-items: flex-end;
    text-align: center;
    display: inline-block;
    justify-content: space-around;
    color: FFFFFF;
    text-decoration: none;
    font-size: 12px;
    grid-area: 'bottom';

    .copyright {
        font-size: 14px;
        font-weight: lighter;
        margin: auto;
        color: B6B6B6;
    }
}

.main-content {
    grid-area: main;
    display: -ms-inline-grid;
    float: right;
    margin: auto;
    margin-left: 10px;
    padding: 30px;
    padding-top: 38px;
    padding-right: 60px;
    max-width: 1114px;
    color: black;
}

.main-top-row-content {
    display: flex;
    flex-direction: row;
}
.main-text {
    width: 361px; 
    margin: 0;
    margin-right: 30px;
}

.main-pricing {
    background-color: #F5F5F5;
    width: 753px;
    height: 461px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.pricing-list-plan-description {
    list-style: '- ';
    padding-left: 10px;
    text-indent: 0;
    list-style-position: inside;
}

.pricing-list-plan-description-item {
    padding-top: 6px;
    line-height: 20px;
}

#infra-color {
    color: #2B2AA7;
}

#apm-color {
    color: #14D071;
}

#logs-color {
    color: #FF635A;
}

.carousel-text-block {
    padding-bottom: 80px;
}

.carousel-text-box {
    background-color: #F5F5F5;
    align-content: flex-end;
    height: 585px;
    filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.15));
    padding: 24px;
    padding-top: 30px;
}

#carousel-view {
    margin-left: 40px;
}

.carousel-text {
    padding-bottom: 94px;
}

.main-free-trial {
    font-size: 18px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0);
    color: #724EEF;
    border: 3px solid #724EEF;
    width: 100%;
    &:hover { text-shadow: 0 0 1px #724EEF;
        cursor: pointer;
    }
}

.logo {
    width: 150px;
    height: 150px;
    padding-top: 40px;
    padding-bottom: 26px;
    position: relative;
}

.main-text-sub-description {
    font-weight: lighter;
}

.footer-content {
    grid-template-columns: 2fr 3fr;
    display: grid;
    height: 80%;
}

.footer-quadrant-1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: flex-end;
}

.footer-quadrant-2 {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    width: 100%;
    align-content: space-around;
    padding-right: 59px;
}

.footer-column-1 {
    margin: 3px;
    width: 375px;
}

.footer-column-2 {
    margin: 3px;
}

.footer-column-3 {
    margin: 3px;
}

.footer-free-trial {
    padding: 15px;
    margin: auto;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    color: FFFFFF;
    border: 2px solid #979797;;
    border-radius: 5px;
} 

.footer-list {
    list-style: none;
    padding: 0;
    line-height: 25px;
    font-size: 15px;
    margin-top: 7px;
    color: B6B6B6;
}

.footer-list-split-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

hr {
    margin: 0;
    color: #979797;
}

.footer-column-title {
    margin-top: 49px;
    margin-bottom: 7px;
    color: B6B6B6;
}

.plan-price-col {
    padding-left: 23px;
    padding-right: 23px;
    margin-top: 24px;
    margin-bottom: 24px;
    height: 413px; 
    display: inline;
    font-size: .8rem;
}

#left-col {
    border-right: 2px solid #C7C7C7;
}

#right-col {
    border-left: 2px solid #C7C7C7;
}

.see-details-text {
   text-decoration: underline;
    &:hover{
        cursor: pointer;
    }
}

.plan-title {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
}

.main-columns {
    padding-bottom: 30px;
    width: 1040px;
    margin-left: -15px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    flex-direction: column;
}

.main-column-1 {
    display: flex;
    flex-direction: column;
}

img {
    max-width:100%;
}

.main-column-2 {
    display: flex;
    flex-direction: column;
}

.grid-item {
    padding: 15px;
}

.screenshot {
    position: relative;
    opacity: 50%;
}

.image-overlay-container {
    position: relative;
    text-align: center;
    overflow: hidden;
    &:hover {
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        cursor: pointer;
    }
}

.image-overlay-container

.overlay-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 75%;
}

.tint {
    position: absolute;
    
}






